* {
    padding: 0px;
    margin: 0px;
  }


  body{
    background-color: #fafafa;
}

  @font-face {
    font-family: Bogle;
    src: url(./image/Bogle-Regular.otf);
 }
 
 @font-face {
  font-family: Bogle_Bold;
  src: url(./image/Bogle-Bold.otf);
}

@font-face {
  font-family: Bogle_Black;
  src: url(./image/Bogle-Black.otf);
}

  @media screen and (min-width: 320px) and (max-width: 414px) and (orientation: portrait) {
    /* Template Home */
    .home{
      width: 100vw;
      height: 98.46vh;
    }

    .headerContent{
      display: flex;
      font-family: Bogle;
      margin-top: 1.5vh;
    }

    .content{
      display: flex;
      flex-direction: column;
    }

    .contentTitles{
      display: flex;
    }

    .navBar{
      position: sticky;
      border-radius:8px 8px 0 0;
      background-color:#0D346B;
      width: 100vw;
      height: 6.5vh;
      top:93.5vh;
    }
    
    .navBarIcons{
      display: flex;
      justify-content: space-around;
      margin-top: 2vh;
      padding: 5px;
    }

    .savingCheck{
      margin-top: 3vh;
      margin-left: 1vw;
      margin-right: -0.2vw;
      margin-bottom: 14px;
      width: 95vw;
      height: 12vh;
      border-radius: 6px;
    }

    .lists{
      width: 95vw;
      height: 12vh;
      margin-left: 2.5vw;
      border-radius: 6px;
    }

    .h3{
      font-size: 16px;
    }

    .direction{
      font-size: 14px;
      color: #747474;
      margin-left: 2.5vw;
    }
    
    .sendOrder{
      font-size: 14px;
      color: #0071CE;
      background: #D7F4FF;
      border-radius: 8px;
      margin-left: 2.5vw;
      padding: 4px 12px;
    }

    .ubicationImg{
      width: 3vh;
      margin-left: 2.5vw;
    } 

    .cart{
      position: relative;
      margin: 0 0 0 24%;
    }

    .search{
      width: 350px;
      height: 35px;
      background: #FFFFFF;
      box-shadow: 0px 1px 6px rgb(0 0 0 / 12%), 0px 2px 5px rgb(0 0 0 / 14%);
      border-radius: 16px;
      margin: 10px 0 0 10px;
      font-family: Bogle;
      font-size: 18px;
      padding: 0px 12px;
    }

    .searchImg{
      position: relative;
      width: 4vh;
      margin: 0px 0px -10px -38px;
    }

    .tPMCTitle{
      font-family: Bogle_Bold;
      font-size: 18px;
      margin-left: 2.5vw;
      margin-top: 2vh;
    }
    
    .moreTitle{
      font-family: Bogle;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      text-decoration-line: underline;
      color: #0071CE;
      position: absolute;
      margin: -22px 0 0 84%;
    }
    .contTPMCHome{
      display: flex;
      justify-content: space-evenly;
      overflow: scroll;
      height: 36vh;
      margin-top: 0.5vh;
    }
    .cellHome{
      width: 105px;
      height: 240px;;
      background: #FFFFFF;
      border-radius: 8px;
    }
  
    .heart{
      position: relative;
      margin-left: 80px;
    }

    /* Template Tus Listas */
    .myList{
      width: 100vw;
      height: 98vh;
    }

    .headerList{
      width: 100vw;
      margin-top: 2vh;
      font-family:Bogle_black;
    }
    .contentTitlesList{
      display: flex;
      justify-content: space-evenly;
      margin-left: -40vw;
    }

    .arrow{
    margin-right: 3vw;
    }
    
    .listTitle{
      margin-top: 1.5vh;
      margin-left: -40vw;
    }

    .cartList{
     margin-right:-39vw;
    }

    .lastBuys{
      margin-top: 2vh;
      width: 95vw;
      margin-left: 2.5vw;
    }

    .myLists{
      margin-top: 3vh;
      width: 95vw;
      margin-left: 2.5vw;
      border-radius: 10px;
    }

    .superLists{
      margin-top: 3vh;
      width: 95vw;
      margin-left: 2.5vw;
      border-radius: 10px;
    }
  
    
    /* Template TPMC */
    .tpmc{
      width: 100vw;
      height: 98.46vh;
    }

    .headerTPMC{
      width: 100vw;
      margin-top: 2vh;
      font-family:Bogle_black;
    }

    .contentTPMC{
      display: flex;
      margin-left: 2.5vw;
    }

    .arrowback{
    margin-right: 3vw;
    }
    
    .titleTPMC{
      width: 87vw;
    }

    .products{
      overflow: scroll;
      height: 69vh;
      margin-top: 3vh;
    }

    .categories{
      position: absolute;
      margin-top: 6vh;
      margin-left: 2.5vw;
      font-family: Bogle;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
    }

    #sortBy{
      margin-top: 8vh;
      margin-left: 6.5vw;
    }

    .cartTPMC {
      margin-left: -15vw;
    }

    .products{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .image{
      width: 75px;
      height: 73px;
    }

    .cell{
      width: 105px;
      height: 245px;;
      background: #FFFFFF;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    .name{
      font-family: Bogle;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 120%;
      color: #000;
      margin-left: 5px;
      margin-top: 2px;
    }

    .price{
      font-family: Bogle;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #000;
      margin-left: 5px;
      margin-top: 2px;
    }

    .amount{
      font-family: Bogle;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      color: #747474;
      margin-left: 5px;
      margin-top: 2px;
    }

    .addImg{
      padding: 2px;
      margin-left: 3px;
    }

    .addList{
      padding: 2px;
      margin: -1px 0 0 4px;
    }

    .heartTPMC{
      position: relative;
      margin-left: 80px;
      margin-top: 3px;
    }

    /* Template Pasillos */

    .mainAisles{
      width: 100vw;
      height: 98vh;
    }

    .contenAisles{
      display: flex;
      justify-content: space-evenly;
      margin-left: -39vw;
      margin-bottom:35px;
    }
    
    .mainContentAisles{
      overflow: scroll;
      height: 82vh;
      margin-top: -3vh;
    }

    .titleAisles{
      font-family: Bogle_black;
      margin-top: 3.5vh;
      margin-left: -40vw;
    }

    .aisleDeals, .drinksAisle, .fruitAisle, .hallwayCleaning, .bakeryAisle {
      margin-left: 10px;
    }
    
    /* Template Super Listas */

    .productsSL{
      overflow: scroll;
      height: 69vh;
      margin-top: 3vh;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: row;
    }



    /* Template Ofertas */
    .mainOfferProducts{
      display: flex;
      flex-direction: column;
      height: 560px;
    }
    .offerSearch{
      position: relative;
      top:6vh;
    }

   /* Slider */
   .slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
  }
  
  .slider ul {
    display: flex;
    padding: -4px;
    width: 400%;
    
    animation: cambio 20s infinite alternate linear;
  }
  
  .slider li {
    width: 100%;
    list-style: none;
  }
  
  .slider img {
    width: 94vw;
  }
  
  @keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
  }
  





  }